# Ignore the bin and build dir
build
bin

# Ignore any executables
bin/*
Makefile

# Ignore tests (temporary)
test
test/*

# Ignore temporaries
*~
src/*~
include/*~
include/old

# Ignore Mac specific files
.DS_Store